<template>
    <div class="if-policy-details">
        <div class="if-policy-details--title">
            <h1>
                {{ $t(policy.data.name) }}
            </h1>
        </div>
        <form v-if="policy" class="if-policy-details--form">

            <div class="if-policy-details--form--group">
                <label
                    for="first-name">
                    {{ $t("firstName") }}
                </label>
                <input v-model="policy.data.owner.firstName"
                       id="first-name"
                       type="text"
                       name="first name">
            </div>

            <div class="if-policy-details--form--group">
                <label for="last-name">
                    {{ $t("lastName") }}
                </label>
                <input v-model="policy.data.owner.lastName"
                       id="last-name"
                       type="text"
                       name="last name">
            </div>

            <div class="if-policy-details--form--group">
                <label for="insuredAmount">
                    {{ $t("insuredAmount") }}
                </label>
                <input v-model="policy.data.insuredAmount"
                       id="insuredAmount"
                       type="number"
                       name="insured amount">
            </div>

            <div class="if-policy-details--form--group"
                 v-for="key in Object.keys(policy.meta)"
                 :key="key">
                <label for="key">
                    {{ $t(key) }}
                </label>
                <input v-model="policy.meta[key]"
                       id="key"
                       type="text"
                       name="key">
            </div>
            <div class="if-policy-details--form--buttons">
                <button
                    id="cancel"
                    @click="cancel">{{ cancelLabel }}
                </button>
                <button
                    id="submit"
                    @click="save">{{ saveLabel }}
                </button>
            </div>
        </form>
        <div class="loading" v-if="!policy">LOADING...</div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import { POLICY_BY_ID } from "@/js/store/policies/getters";
import { UPDATE_POLICY } from "@/js/store/policies/actions";


export default {
    name: "Policy",

    data() {
        return {
            policy: null,
        };
    },

    computed: {
        ...mapGetters({
            policyGetter: POLICY_BY_ID,
        }),

        saveLabel() {
            return this.$i18n.translate("save");
        },


        cancelLabel() {
            return this.$i18n.translate("cancel");
        },
    },

    methods: {
        ...mapActions({
            updatePolicy: UPDATE_POLICY,
        }),

        save() {
            this.updatePolicy(this.policy);
            this.$router.push("/");
        },

        cancel() {
            this.$router.push("/");
        },
    },

    mounted() {
        this.policy = this.policyGetter(this.$route.params.id);
    },
};
</script>

<style scoped lang="scss">
    .if-policy-details {
        &--title {
            border-bottom: 1px solid lightgrey;
        }

        &--form {
            &--group {
                display: flex;
                flex-direction: column;
                margin: 20px 0;

                label {
                    font-size: 0.9rem;
                    margin-bottom: 5px;
                }

                input {
                    font-size: 1rem;
                    padding: 15px 15px;

                    &:focus {
                        outline: 1px solid aqua;
                    }
                }
            }

            &--buttons {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;

                @mixin button($color, $hover-color) {
                    background: none;
                    font-size: 1rem;
                    height: 50px;
                    min-width: 225px;
                    padding: 5px 40px;
                    border: 1px solid $color;
                    color: $color;
                    cursor: pointer;

                    &:hover {
                        color: $hover-color;
                        border: 1px solid $hover-color;
                    }
                }

                #submit {
                    @include button(blue, darkblue);
                }

                #cancel {
                    @include button(red, darkred);
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .if-policy-details {
            &--form {
                &--buttons {
                    flex-direction: column;

                    button {
                        margin-top: 15px;
                        width: 100%;
                    }
                }
            }
        }
    }

</style>
