<template>
    <div id="home">
        <div class="row">
            <PolicyList :policies="policies"/>
        </div>
    </div>
</template>

<script>

import { mapGetters } from "vuex";
import { ALL_POLICIES } from "@/js/store/policies/getters";


const Policies = import(/* webpackChunkName: "PolicyList" */ "@/ui/templates/policies/Policies.vue");

export default {
    name: "home",

    components: {
        PolicyList: () => Policies,
    },

    computed: {
        ...mapGetters({
            policies: ALL_POLICIES,
        }),
    },
};
</script>
