<template>
    <div class="if-policy-list-item" @click="goToPolicy">
        <div class="if-policy-list-item--icon">
            <i :class="policyIcon"></i>
        </div>

        <div class="if-policy-list-item--info">

            <div class="if-policy-list-item--name">
                {{ policyName }}
            </div>

            <div class="if-policy-list-item--description">
                {{ policyDescription }}
            </div>
        </div>
    </div>
</template>

<script>


import {
    PetPolicy,
    PropertyPolicy,
    TravelPolicy,
    VehiclePolicy,
} from "@/js/store/policies/Policy.js";


export default {
    name: "PolicyListItem",
    props: {
        policy: {
            type: Object,
            required: true,
        },
    },

    computed: {
        // FIXME: -> move to service or model
        policyIcon() {
            if (this.policy instanceof TravelPolicy) {
                return "fas fa-arrow-alt-circle-up";
            }
            else if (this.policy instanceof PropertyPolicy) {
                return "fas fa-arrow-alt-circle-up";
            }
            else if (this.policy instanceof VehiclePolicy) {
                return "fas fa-arrow-alt-circle-up";
            }
            else if (this.policy instanceof PetPolicy) {
                return "fas fa-arrow-alt-circle-up";
            }
            else {
                return "fas fa-arrow-alt-circle-up";
            }
        },

        policyName() {
            return this.$i18n.translate(this.policy.data.name);
        },

        policyDescription() {
            const descriptionFields = Object
                .values(this.policy.meta);
            return descriptionFields
                .reduce((acc, descField, i) => {
                    acc = `${ acc + descField }`;
                    if (i < descriptionFields.length - 1) {
                        acc += ", ";
                    }
                    return acc;
                }, "");
        },
    },

    methods: {
        goToPolicy() {
            this.$router.push({
                name: "policy",
                params: { id: this.policy.id },
            });
        },
    },
};
</script>


<style scoped lang="scss">
    .if-policy-list-item {
        $border: 1px solid lightgrey;
        display: flex;
        padding: 10px 0;
        border-top: $border;
        font-size: 0.8rem;
        cursor: pointer;

        &:hover {
            background-color: #fbf6f5;
        }

        &:last-child {
            border-bottom: $border;
        }

        &:focus {
            outline: 1px solid aqua;
        }

        &--icon {
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
        }

        &--info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        &--name {
            margin: 7px 0;
            font-weight: bold;
        }

        &--description {
            margin: 7px 0;
        }
    }
</style>
