<template>
    <div id="app"
         lang="currentLang"
         class="container">
        <router-view/>
    </div>

</template>

<script>

export default {
    name: "App",
};

</script>

<style lang="scss">

    body {
        margin: 0;
        background-color: #f7f2f1;
        color: #4a4343;
    }

    h1 {
        font-weight: 100;
    }

    #app {
        margin: 20px 10%;
        font-family: sans-serif;

        @media screen and (min-width: 520px) {
            margin: 30px 15%;
        }

        @media screen and (min-width: 768px) {
            margin: 30px 20%;
        }

        @media screen and (min-width: 1280px) {
            margin: 30px 25%;
        }
    }
</style>
