<template>
    <div id="if-policy-list" class="if-policy-list">
        <div class="if-policy-list--title">
            <h1>{{ $t("insurancePolicies") }}</h1>
        </div>

        <div class="if-policy-list--policies" role="list">
            <policy-list-item
                role="listitem"
                v-for="( policy, index ) in initialPolicyList"
                tabindex="0"
                :key="index"
                :policy="policy"/>

            <section v-if="showOthers">
                <policy-list-item
                    role="listitem"
                    v-for="( policy, index ) in otherPolicies"
                    tabindex="0"
                    :key="index"
                    :policy="policy"/>
            </section>
        </div>

        <button v-if="showOthers"
                @click="toggleViewablePolicies">
            {{ $t("hide") }}
        </button>
        <button v-if="!showOthers"
                @click="toggleViewablePolicies">
            {{ $t("showMore", {"count": otherPolicies.length}) }}
        </button>

    </div>
</template>

<script>
import PolicyListItem from "@/ui/components/policy-list-item/PolicyListItem.vue";


export default {
    name: "Policies",

    components: {
        PolicyListItem,
    },

    props: {
        policies: {
            type: Array,
            required: true,
        },
    },

    data() {
        return {
            showOthers: false,
        };
    },

    computed: {
        initialPolicyList() {
            return this.policies.slice(0, 4);
        },
        otherPolicies() {
            return this.policies.slice(4, this.policies.length);
        },
    },

    methods: {
        toggleViewablePolicies() {
            this.showOthers = !this.showOthers;
        },
    },
};
</script>

<style scoped lang="scss">
    .if-policy-list {
        &--title {
        }

        button {
            margin-top: 15px;
            border: none;
            background: none;
            color: blue;
            text-decoration: underline;
            cursor: pointer;

            &:focus {
                outline: 1px solid aqua;
            }
        }
    }
</style>
